.sidenav{
    position: "fixed";
    left: 0;
    height: 100vh;
    padding: 0;
    overflow-y: auto;
    z-index: 1000;
    
}

h6 {
     font-size: 14px !important;
}

.nav-item:hover {
  background-color: #e0e0e0 !important; 
  cursor: pointer;
}

.section {
    gap : 15px;
    margin-right : 20px;
    font-size : 13px;
    padding : 12px;
    
}

